SUPABASE_URL="Api URL paste here"
SUPABASE_KEY="supabase anon key paste here"
SUPABASE_SERVICE_ROLE_KEY="supabase service role key paste here"
FOOTBALL_API_KEY="football api key paste here"
CRON_SECRET="cron secret paste here"
