---
import Layout from "../../layouts/Layout.astro";
import { ResetPasswordForm } from "../../components/ResetPasswordForm";

// TODO: Verify that user came from a valid recovery link
// Check for recovery token in URL params
// If no valid token, redirect to recovery page
---

<Layout title="Set New Password - BetBuddy">
  <div class="min-h-screen flex items-center justify-center px-4 py-12 bg-background">
    <ResetPasswordForm client:load />
  </div>
</Layout>
